@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

$blue: #778899;
$pink: #FC6D6D;
$black: #000000;


html, body {
    display: flex;
    width: 101%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: $black;
    overflow: hidden;
}

.card {
  //display: flex;
  //justify-content: center;
  //align-items: center;
  width: 85%;
  height: 85%;
  background-color: $blue;
  //overflow: hidden;
  box-shadow: 0 0 100px 0 rgb(122, 115, 115);
  border-radius: 25px;

   &:before {
   content: "XL";
   font-size: 20em;
   display: block;
   text-align: center;
  }
}

.text p{
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 2em;
  text-align: center;
}
